@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  --box-size: 100px;
  --mark-size: calc(var(--box-size) * 0.9);
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .gameboard {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
main .gameboard .box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  width: var(--box-size);
  height: var(--box-size);
  cursor: pointer;
}
main .gameboard .box:nth-child(1), main .gameboard .box:nth-child(2), main .gameboard .box:nth-child(3) {
  border-top: none;
}
main .gameboard .box:nth-child(3n+1) {
  border-left: none;
}
main .gameboard .box:nth-child(3n+3) {
  border-right: none;
}
main .gameboard .box:nth-child(7), main .gameboard .box:nth-child(8), main .gameboard .box:nth-child(9) {
  border-bottom: none;
}
main .gameboard .box.x::before, main .gameboard .box.x::after, main .gameboard.x .box:hover:not(.x):not(.o)::before, main .gameboard.x .box:hover:not(.x):not(.o)::after {
  position: absolute;
  content: "";
  width: var(--mark-size);
  height: calc(var(--mark-size) * 0.15);
  background-color: black;
}
main .gameboard .box.x::before, main .gameboard.x .box:hover:not(.x):not(.o)::before {
  transform: rotate(45deg);
}
main .gameboard .box.x::after, main .gameboard.x .box:hover:not(.x):not(.o)::after {
  transform: rotate(-45deg);
}
main .gameboard .box.o::before, main .gameboard .box.o::after, main .gameboard.o .box:hover:not(.x):not(.o)::before, main .gameboard.o .box:hover:not(.x):not(.o)::after {
  position: absolute;
  content: "";
  border-radius: 100%;
  width: calc(var(--mark-size) * 0.9);
  height: calc(var(--mark-size) * 0.9);
  background-color: black;
}
main .gameboard .box.o::after, main .gameboard.o .box:hover:not(.x):not(.o)::after {
  background-color: white;
  width: calc(var(--mark-size) * 0.65);
  height: calc(var(--mark-size) * 0.65);
}
main .gameboard.x .box:hover:not(.x):not(.o)::before, main .gameboard.x .box:hover:not(.x):not(.o)::after {
  background-color: rgb(205, 205, 205);
}
main .gameboard.o .box:hover:not(.x):not(.o)::before {
  background-color: rgb(205, 205, 205);
}
main .gameboard .box.x, main .gameboard .box.o {
  cursor: not-allowed;
}
main .end-screen {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-weight: 800;
  gap: 20px;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
main .end-screen .endMessage {
  font-size: 64px;
}
main .end-screen button {
  border-radius: 5px;
  padding: 10px;
  font-size: large;
  font-weight: 600;
  background-color: #fff;
  transition: 150ms ease-in-out;
  cursor: pointer;
}
main .end-screen button:hover {
  transform: scale(0.95);
}
main .end-screen button:active {
  transform: scale(0.9);
}
main .end-screen.show {
  display: flex;
}/*# sourceMappingURL=main.css.map */